@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/static/assets/bg-img.jpg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 1000px;
    padding-inline: 200px;
    background: rgba(25,25,25,0.8);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(20,20,20,1);
    color: #e0e0e0;
    padding: 0px 0px;
    padding-top: 20px;
    box-shadow: 0 0 15px #000000;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleh1 {
    margin-block: -10px;
    font-size: 2rem;
}

.icon {
    width: 120px;
    margin-bottom: 10px;
}

.sxc-icon {
    margin-left: 0.5rem;
    margin-right: auto;
}

.xts-icon {
    margin-right: 0.5rem;
    margin-left: auto;
}

.main-container {
    margin-top: 180px;
    padding-bottom: 50px;
}

.section {
    padding-bottom: 10px;
    border-bottom: 2px #537983 solid;
}

.section p {
    font-size: 0.8em;
    text-align: justify;
}

.section-title {
    margin-block: 50px;
    font-size: 1.5em;
}

.patron-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

.motto-comp {
    font-size: 0.8em;
    display: flex;
    align-items: left;
    justify-content: left;
    max-width: 100%;
    margin-block: 30px;
}

.motto-ele {
    text-align: left;
    width: 10em;
    flex-shrink: 0;
}

.motto-text {
    text-align: left;
}

.mission p {
    padding-left: 100px;
    text-align: left;
}

.team-head {
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.vip {
    flex-basis: 33%; 
    margin-bottom: 20px;
    width: 100%;
}

.hod {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.head p {
    text-align: center;
    font-weight: 700;
}

.head img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.logo {
    height: 40px;
}

h1 {
    margin-top: 60px;
    text-align: center;
    font-size: 2.5em;
}

.text-section {
    text-align: center;
    margin: 0px 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons a {
    background-color: rgba(50,50,50,0.2);
    box-shadow: 0 0 10px #131313;
    border-radius: 10px;
    font-size: 0.6em;
    padding: 15px;
    width: 200px;
    margin: 10px 10px;
    color: #64b5f6;
    font-weight: 700;
    text-decoration: none;
    transition: ease-in 0.3s background-color;
}

.buttons a:hover {
    background-color: #dcdcdc;
    transform: scale(1.1);
    color: #0e0e0e;
}

.buttons hr {
    width: 100%;
    border: 0;
}

.about {
    border: none;
}

.reg-button {
    padding: 10px 0px;
}

.reg-button a {
    font-family: "Press Start 2P", monospace;
    font-size: 0.6rem;
    font-weight: 100;
    color: white;
    background-color: rgba(1, 204, 1, 0.6);
    padding-inline: 50px;
}

.reg-button a:hover {
    transform: scale(100%);
}

.social-media-section {
    text-align: center;
    margin: 20px 0;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 50px;
    height: 50px;
    margin-inline: 20px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(150%);
}

.contact-form-section {
    margin-top: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label{
    font-size: 0.8em;
    font-weight: 700;
    margin-block-end: 10px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
}

button {
    background-color: rgba(23, 185, 50, 0.7);
    box-shadow: 0 0 10px #131313;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 0.6em;
    padding: 15px;
    margin: 10px 10px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition: ease-in 0.3s background-color;
}

button:hover {
    background-color: #fff;
    color: #000;
}

@media(max-width:1600px) {
    .icon {
        width: 80px;
    }
}

@media(max-width:1000px) {
    body {
        font-size: 14px;
    }

    .container {
        padding-inline: 0px;
    }

    .titleh1 {
        font-size: 1.2rem;
    }

    .section-title {
        font-size: 1.2rem;
    }

    .main-container {
        margin-top: 120px
    }

    .header {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    h4 {
        font-size: 12px;
    }

    .icon {
        width: 50px;
    }

    .mission p {
        padding-left: 20px;
    }

    .vip {
        flex-basis: 50%; 
    }

    .buttons {
        flex-direction: row;
    }

    .buttons a {
        width: 50px;
    }

    .reg-button a {
        width: 100%;
    }

    .big-button {
        width: 200px;
    }

    .head {
        margin-inline: 10px;
    }

    .head img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .team-head {
        gap: 50px;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
        margin-inline: 5px;
        transition: transform 0.3s ease;
    }    

    .form-group input,
    .form-group textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 0.8rem;
    }
}