<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="stylesheet" href="/static/faqstyles.css">
    <title>XTS Recruitment Form</title>
</head>
<body>
    <div class="container">
        <h1 class="titleText">Xavier's TechByte Society</h1> 
        <h4 class="subtitleText">Department of Computer Science <br> St. Xavier's College, Ranchi</h4>

        <a href="/register" class="back-button">< Back</a>
        <div class="section">
            <div class="question">
                Q. What is this club about?
            </div>
            <div class="answer">
                ● Xavier’s TechByte Society (XTS) aims to foster a supportive and inclusive environment where students can learn, explore, and have fun with computer science concepts and practices. The club encourages collaboration to create new innovations and projects.
            </div>
        </div>
        
        <div class="section">
            <div class="question">
                Q. Who can join this club?
            </div>
            <div class="answer">
                ● Students of all the departments and disciplines are eligible to join the club. The club promotes interdisciplinary collaboration, providing opportunities for students to broaden their horizons and work together on diverse projects.
            </div>
        </div>
        
        <div class="section">
            <div class="question">
                Q. Why should I join?
            </div>
            <div class="answer">
                ● Join XTS to enhance your coding skills, delve into cutting-edge technologies, and build a supportive network with like-minded peers. The club offers a platform to develop both technical proficiency and teamwork abilities through hands-on experiences.
            </div>
        </div>
        
        <div class="section">
            <div class="question">
                Q. How do I join the club?
            </div>
            <div class="answer">
                ● To become a member of XTS, applicants are required to complete a membership form and await an interview invitation from the selection committee.
            </div>
        </div>
        
        <div class="section">
            <div class="question">
                Q. What are the benefits of joining the club?
            </div>
            <div class="answer">
                ● By joining XTS, you gain access to skill-building workshops, personalized career guidance, networking opportunities with alumni and industry professionals, and chances to contribute to impactful open-source projects. The club nurtures both technical excellence and professional growth.
            </div>
        </div>
        
        <div class="section">
            <div class="question">
                Q. What are the future perspectives of the club?
            </div>
            <div class="answer">
                ● XTS aims to expand its influence by organizing more seminars, workshops, and hackathons that keep members abreast of industry trends and foster innovative thinking. The club also aims to promote research publication and technical writing among its members, enhancing their academic and professional profiles.
            </div>
        </div>
        
        <div class="section">
            <div class="question">
                Q. Why choose XTS over any other club?
            </div>
            <div class="answer">
                ● XTS distinguishes itself with its inclusive environment, comprehensive focus on career development, diverse range of events spanning from technical workshops to hackathons, and its strong emphasis on fostering both technical skills and professional growth. Joining XTS ensures a well-rounded and enriching experience in the field of computer science.
            </div>
        </div>
        
        <div class="section">
            <div class="question">
                Q. What events would be conducted under this club?
            </div>
            <div class="answer">
                ● XTS plans to host a variety of events including seminars on career paths, in-depth workshops covering programming languages and game development techniques, exciting hackathons to spur creativity, and active participation in IT fairs to showcase members' talents and achievements.
            </div>
        </div>
        
        <div class="section">
            <div class="question">
                Q. What are the projects under XTS?
            </div>
            <div class="answer">
                ● Current projects at XTS include the development of bots for various applications, contributions to open-source software that benefit the community, and initiatives to improve technical writing skills among members. The club continually explores new project ideas aligned with emerging industry trends and member interests.
            </div>
        </div>  
        <center>
            <div class="socials">
                <div class="connect">Connect With Us</div>
                <a href="mailto:xts@sxcran.org">
                    <img src="/static//assets/socials/mail.png" width="40"/>
                </a>
                <a href="https://www.instagram.com/xaviers_techbyte.society/">
                    <img src="/static//assets/socials/insta.png" width="40"/>
                </a>
                <a href="https://www.youtube.com/@xavierstechbytesociety">
                    <img src="/static//assets/socials/youtube.png" width="40"/>
                </a>
                <a href="https://www.linkedin.com/in/xavier-s-techbyte-society-a9a676315">
                    <img src="/static//assets/socials/linkedin.png" width="40"/>  
                </a>  
            </div>
        </center>           
    </div>
</body>
</html>