{% macro pageTitle() %}

<div class="header">
    <img src="/static/assets/sxcicon.jpg" style="border-radius: 50%;" class="icon sxc-icon" alt="Home">
    <div class="title-container"  style="cursor: pointer;" onclick="window.location.href='/'">
        <h1 class="titleh1">Xavier's TechByte Society</h1>
        <h6>CODE. COLLABORATE. CREATE</h6>
    </div>
    <img src="/static/assets/android-chrome-512x512.png" class="icon xts-icon" alt="Members">
</div>

{% endmacro %}


{% macro pageFooter() %}

<div class="buttons">
    <a href="/teams">Teams</a>
    <a href="/patrons">Patrons</a>
    <!-- <a href="/events">Events</a> -->
    <a href="/contact">Contact</a>
    <hr>
    <!-- <div class="big-button">
        <a href="/launch_game_leaderboards">Launch Game Leaderboards</a>
    </div> -->
</div>

{% endmacro %}