<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/site.webmanifest">
    <link rel="stylesheet" href="/static/regFormStyles.css">
    <title>XTS Recruitment Form</title>
</head>

<body>
    <script src="/static/options/depts.js"></script>
    <script src="/static/options/sems.js"></script>
    <script src="/static/options/teams.js"></script>
    <script src="/static/options/skills.js"></script>
    <div class="container">
        <h1 class="titleText">Xavier's TechByte Society</h1>
        <h4 class="subtitleText">Department of Computer Science <br> St. Xavier's College, Ranchi <br>
            <div class="member" id="member">Become a Valued Member</div>
        </h4>
        <form id="form" action="/submitregn" method="POST">
            <div class="main-info" id="main-info">
                <div class="input-area">
                    <label for="fullName">Full Name</label>
                    <input type="text" id="fullName" name="fullName" placeholder="Enter Full Name" />
                </div>

                <div class="input-area">
                    <label for="dept">Department</label>
                    <select id="deptSelect" name="dept">
                    </select>
                </div>

                <div class="input-area">
                    <label for="semester">Semester</label>
                    <select id="semSelect" name="sem">
                    </select>
                </div>

                <div class="input-area">
                    <label for="examroll">Exam Roll No.</label>
                    <input type="text" id="examroll" name="examroll" placeholder="Enter Exam Roll No." />
                </div>

                <div class="input-area">
                    <label for="email">Email ID</label>
                    <input type="email" id="email" name="email" placeholder="Enter Email ID" />
                </div>

                <div class="input-area">
                    <label for="whatsapp">Whatsapp No.</label>
                    <input type="text" id="whatsapp" name="whatsapp" placeholder="Enter Whatsapp No." />
                </div>

                <div class="input-area">
                    <label for="team">Preferred Team</label>
                    <select id="teamSelect" name="team" onchange="updateskill()">
                    </select>
                </div>

                <div class="input-area">
                    <label for="skillset">Skills</label>
                    <select id="skillSelect" name="skill" disabled>
                    </select>
                </div>
            </div>

            <div class="about-area" id="about-area">
                <label for="about">Personal Insight&nbsp;<span class="sublabel">(100 words)</span></label>
                <div class="bullet-points">
                    <ul>
                        <li>Tell us about your expertise</li>
                        <li>What values you'll be adding to the club</li>
                        <li>Can include projects, portfolios, etc.</li>
                    </ul>
                </div>
                <textarea id="about" name="about" placeholder="Why Should You Be Selected?"
                    oninput="countWords(this)"></textarea>

                <div class="checkbox">
                    <input type="checkbox" class="ok" id="ok" name="ok" value="true" onchange="submitCheck()">
                    <label class="checkboxLabel" for="ok">&nbsp;&nbsp;I agree to the <a href="/tnc"
                            target="_blank">Terms and Conditions</a> of membership</label>
                </div>
            </div>

            <center>
                <div class="form-submit" id="form-submit">
                    <input type="submit" id="submit" value="Submit" disabled="true" style="cursor: pointer">
                </div>
                <a href="/faqs" class="faq-button">FAQs Page</a>
                <a href="/" class="faq-button">Home Page</a>
                <div class="socials">
                    <div class="connect">Connect With Us</div>
                    <a href="mailto:xts@sxcran.org">
                        <img src="../static/assets/socials/mail.png" width="40" />
                    </a>
                    <a href="https://www.instagram.com/xaviers_techbyte.society/">
                        <img src="../static/assets/socials/insta.png" width="40" />
                    </a>
                    <a href="https://www.youtube.com/@xavierstechbytesociety">
                        <img src="../static/assets/socials/youtube.png" width="40" />
                    </a>
                    <a href="https://www.linkedin.com/in/xavier-s-techbyte-society-a9a676315">
                        <img src="../static/assets/socials/linkedin.png" width="40" />
                    </a>
                </div>
            </center>
        </form>
    </div>

    <script src="/static/scripts/submit.js"></script>
    <script>
        if (urlParams.get('success') != 'true') {
            window.onload = alert("Enter Class Roll No. if Exam Roll No. is not allotted.")
        }
    </script>
</body>

</html>