<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="stylesheet" href="/static/tncstyles.css">
    <title>XTS Recruitment Form</title>
</head>
<body>
    <div class="container">
        <h1 class="titleText">Xavier's TechByte Society</h1> 
        <h4 class="subtitleText">Department of Computer Science <br> St. Xavier's College, Ranchi</h4>

        <a href="/" class="back-button" onclick="closeTab()">< Back</a>

        <div class="headertext">To become a member, every candidate must fulfil the following criteria: </div>
        <div class="keypoint">
            <span class="bullet">‣</span> Must be a student of St. Xavier's College, Ranchi
        </div>

        <div class="keypoint">
            <span class="bullet">‣</span> Must pay a membership charge of Rs. 100/-
        </div>

        <div class="keypoint">
            <span class="bullet">‣</span> Should not be a third year student unless they're from Computer Science Dept.
        </div>

        <div class="keypoint">
            <span class="bullet">‣</span> Must attend all monthly general meetings
        </div>

        <div class="keypoint">
            <span class="bullet">‣</span> Must have at least 85% participation in whole tenure
        </div>

        <center>
            <div class="socials">
                <div class="connect">Connect With Us</div>
                <a href="mailto:xts@sxcran.org">
                    <img src="../assets/socials/mail.png" width="40"/>
                </a>
                <a href="https://www.instagram.com/xaviers_techbyte.society/">
                    <img src="../assets/socials/insta.png" width="40"/>
                </a>
                <a href="https://www.youtube.com/@xavierstechbytesociety">
                    <img src="../assets/socials/youtube.png" width="40"/>
                </a>
                <a href="https://www.linkedin.com/in/xavier-s-techbyte-society-a9a676315">
                    <img src="../assets/socials/linkedin.png" width="40"/>  
                </a>  
            </div>
        </center>      
    </div>
    <script>
        function closeTab() {
            window.close();
        }
    </script>
</body>
</html>